.input-group-text {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
    padding: 0.375rem 0.75rem;
}

.input-group-text i {
    color: #fff !important;
}

/* ResetPasswordPage.css */

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 2.5rem;
    /* espacio para el ícono dentro del input */
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffc107 !important;
    font-size: 1.4rem;
}

.form-card {
    background-color: #1e1e1e;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

.form-card .form-label {
    color: #ffc107;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
    font-weight: bold;
}

.btn-outline-light {
    border-color: #ffc107;
    color: #ffc107;
}

.btn-outline-light:hover {
    background-color: #ffc107;
    color: #000;
}

/* quitar borde verde o rojo en el ojo */
.password-wrapper .is-valid~.password-toggle-icon,
.password-wrapper .is-invalid~.password-toggle-icon {
    color: #ffc107 !important;
}